# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Firebase service account keys
firebase_Key.json

# Jest coverage
coverage/

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: NPM package lock (if you want to ignore)
package-lock.json
yarn.lock
